@import "~@blueprintjs/core/lib/scss/variables";

:local {
  .result {
    position: relative;

    margin: 20px 0;
    padding: 25px 20px 15px !important;
    background-color: $gray1;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      pointer-events: none;
      cursor: crosshair;
    }
  }

  .source {
    position: absolute !important;
    top: 0;
    right: 0;
  }

  .content {

  }
}
