@import "~@blueprintjs/core/lib/scss/variables";

:local {
  // Remaining height of content when height of content above is substracted
  $remaining-height: calc(100vh - 270px);

  .container {
    height: 100%;
    display: flex;
    position: relative;
  }

  .content {
    width: 100%;
    padding: 30px;
  }

  .understood {
    margin-top: 30px;
    font-size: 2rem;
    background-color: $gray1;
  }

  .best_guess {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .results {
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1px;
    height: $remaining-height;
  }

  .spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $remaining-height;
  }

  .change_state {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  #microphone {
    margin: 0 auto 30px;
  }

  #volume {
    position: relative;
    height: 20px;
    border-radius: 10px;
    background-color: #ecd8ac;
  }

  #current_volume {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 20px !important;
    background-color: #967741;
    border-radius: 10px;
  }

  #threshold_volume {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #c7ad74;
    border-radius: 10px;
  }

  #current_volume, #threshold_volume {
    // border-right: 1px solid #505050;
  }

  .mic_container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mic_main {
    width: 100%;
  }
}
