@import "~@blueprintjs/core/lib/scss/variables";

:local {

  .container {
    display: flex;
  }

  .content {
    width: 100%;
    padding: 30px;
  }

  .understood {
    margin-top: 30px;
    font-size: 2rem;
    background-color: $gray1;
  }

  .best_guess {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .result {
    position: relative;
    margin: 20px 0;
    background-color: $gray1;
  }

  .result_source {
    position: absolute;
    top: 0;
    left: 0;
  }

  .result_content {

  }
}
